.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0 1rem;
  overflow: hidden;
}

.overlay::before {
  content: "";
  position: absolute;
  top: -10px; /* Extend beyond the edges */
  left: -10px; /* Extend beyond the edges */
  width: calc(100% + 20px); /* Extend beyond the edges */
  height: calc(100% + 20px); /* Extend beyond the edges */
  background: url("../images/hero-image.jpg") no-repeat top center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgb(255, 255, 255);
  z-index: -1;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="white" d="M0,160L48,149.3C96,139,192,117,288,128C384,139,480,181,576,181.3C672,181,768,139,864,128C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z M0,120L48,110.7C96,101,192,83,288,96C384,109,480,149,576,149.3C672,149,768,109,864,96C960,83,1056,109,1152,110.7C1248,120,1344,120,1392,120L1440,120L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: bottom;
}

@media (min-width: 576px) {
  .overlay {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .overlay {
    padding: 0 3rem;
  }
}

@media (min-width: 992px) {
  .overlay {
    padding: 0 4rem;
  }
}

@media (min-width: 1200px) {
  .overlay {
    padding: 0 5rem;
  }
}
