@import "./header.css";
@import "./background.css";
@import "./hero.css";
@import "../../pages/about/css/about.css";
@import "../../pages/why/css/why.css";
@import "../../pages/discover/discover.css";

:root {
  --font-sans: "Jost", sans-serif;
  --font-cursive: "Indie Flower", cursive;

  --color-primary: #d4eefb;
  --color-dark-blue: #173d7c;
  --color-yellow: #f5db50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  position: relative;
}

.home {
  width: 100vw;
  height: 100vh;
}

header,
.container {
  padding: 0 1rem; /* Default padding */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header,
  .container {
    padding: 0 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header,
  .container {
    padding: 0 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header,
  .container {
    padding: 0 4rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header,
  .container {
    padding: 0 5rem;
  }
}
